/public/*.key
/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/logs/*
storage/temp/*
!storage/logs/.gitkeep
/public/api-rendered-markdowns/*
/public/api/
/public/uploads/
storage/zip
storage/stream
storage/framework/laravel-excel
.DS_Store
storage/*.ppk
storage/*.pem
cspell.json
payarcConnect.test.js
payarcConnectRunner.js